@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color: #1e1e2e;
    color: whitesmoke;
    font-family: 'Open Sans';
}

a {
    color: whitesmoke;
    text-decoration: underline dotted 1px;
}

#container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 850px;
    padding: 10px;
    margin-top: 50px;
    box-sizing: border-box;
}

#too-small {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    border: 3px solid red;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo-image {
    height: 150px;
}

#logo-title {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

#links {
    display: flex;
    gap: 10px;
}

#content {
    width: 100%;
}

#screenshot {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

ul li, ol li {
    padding: 5px;
}


.warning {
    background-color: rgba(255,255,0,0.1);
    border: 5px solid rgba(255,255,0,0.3);
    padding: 20px;
    margin-top: 20px;
}

.warning-title {
    font-size: 1.3em;
    font-weight: bold;
}

@media screen and (max-width: 850px) {
    #container {
        width: 100%;
    }
}

@media screen and (max-width: 612px) {
    #header {
        flex-direction: column;
    }
}

@media screen and (max-width: 350px) {
    #logo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 250px) {
    #container {
        display: none;
    }

    #too-small {
        display: block;
    }
}
